body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f4f4f4;
}

.header {
  background-color: rgb(44, 85, 48);
  color: #ecf0f1;
  padding: 50px 0;
  text-align: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.get-started-btn {
  background-color: aqua;
  color: #fff;
  border: none;
  padding: 15px 30px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.get-started-btn:hover {
  background-color: #2980b9;
}

.registration-form {
  display: none;
  background-color: #ecf0f1;
  padding: 20px;
  margin-top: 20px;
  border-radius: 5px;
}

.registration-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.registration-form label {
  display: block;
  margin-bottom: 5px;
}

.registration-form input,
.registration-form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.submit-btn {
  background-color: rgb(44, 85, 48);
  color: #fff;
  border: none;
  padding: 15px 30px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
  display: block;
  width: 100%;
}

.submit-btn:hover {
  background-color: #2980b9;
}

.hidden {
  display: none;
}

@media (max-width: 768px) {
  .get-started-btn {
    font-size: 16px;
    padding: 12px 25px;
  }

  .submit-btn {
    font-size: 16px;
    padding: 12px 25px;
  }
}

@media (max-width: 480px) {
  .get-started-btn {
    font-size: 14px;
    padding: 10px 20px;
  }

  .submit-btn {
    font-size: 14px;
    padding: 10px 20px;
  }
}
